
html {
    background: url('zv-zdnoe-nochnoe-nebo-zimoj.jpg');

}
ul {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    list-style-type: none;

    width: 85%;
    max-width: 35rem;
    border-radius: 15px;
    margin: 2rem auto;
    padding: 2px;
    }

ul li {
    text-align: right;
    width: 50%;
    font-size: 2.5rem;
    padding: 1rem 0.9rem;
    color: #e8dede;
}

h1 {
    color: #e8dede;
    text-align: center;
    font-family: "Andale Mono", AndaleMono, monospace;
    font-size:70px;

}
ul a {
color: white
}

ul a:hover, ul a:active {
    color: red;
}

h1, h2, img, p{
    color: white;
    text-align: center;
    vertical-align: right;
    line-height: 40px;

    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 40px;
}

p{
    margin-left: auto;
    margin-right: auto;
    width: 35em}

img {
    display: block;
    margin-left: auto;
    margin-right: auto
    }
