{% extends 'base.html' %}

{% block title %}
{{ description_title }}
{% endblock %}

{% load static %}

{% block css_additional %}
<link rel="stylesheet" href=" {% static 'horoscope/css/info.css' %}">
{% endblock %}


{% block content %}
    {% include 'includes/navbar.html' %}
    <h1> {{ description_title }} </h1>
    <p> {{ description_zodiac }}    </p>
    <br> <br><br>
    <img
            src={{ description_img }}
            title='Это {{ description_title }}'
            alt='Тут картинка со знаком задиака {{ description_title }}'
            width="400"
            height="300">
    <br>
<br>
<br>

    {% include 'includes/navbar.html' %}
{% endblock %}

